h1
    margin-bottom 32px

.navbar-brand
    padding-top 0px
    img.logo
        width 48px
        height 48px
        margin-right 16px

.nav.navbar-nav a .glyphicon
    font-size 11pt
    margin-right 8px
