mixin stylesheets(files)
    each file in files
        if productionMode
            -file = file + ".min"
        link(rel="stylesheet", type="text/css", href="styles/#{file}.css")

mixin scripts(files)
    each file in files
        if productionMode
            -file = file + ".min"
        script(type="text/javascript", src="scripts/#{file}.js")

doctype html
html(ng-app="cfxnes")
    head
        meta(charset="utf-8")
        title CFxNES - NES emulator
        +stylesheets([ "bootstrap", "bootstrap-slider", "app" ])
        +scripts([ "jquery", "bootstrap-slider", "angular", "angular-ui-router", "ui-bootstrap-tpls", "slider", "screenfull", "md5", "cfxnes", "app" ])
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(ui-sref="emulator")
                        img.logo(src="images/logo-sm.png")
                        | CFxNES
                ul.nav.navbar-nav.navbar-left
                    li(ui-sref-active="active")
                        a(ui-sref="emulator")
                            span.glyphicon.glyphicon-th
                            | Emulator
                    li(ui-sref-active="active")
                        a(ui-sref="library")
                            span.glyphicon.glyphicon-book
                            | Game Library
                    li(ui-sref-active="active")
                        a(ui-sref="config")
                            span.glyphicon.glyphicon-wrench
                            | Configuration
                div(ui-view="header")
                ul.nav.navbar-nav.navbar-right
                    li(ui-sref-active="active")
                        a(ui-sref="about")
                            span.glyphicon.glyphicon-question-sign
                            | About
        div(ui-view="content")
