mixin stylesheets(files)
    each file in files
        link(rel="stylesheet", type="text/css", href="styles/#{file}.css")

mixin scripts(files)
    each file in files
        script(type="text/javascript", src="scripts/#{file}.js")

doctype html
html(ng-app="nescoffee")
    head
        meta(charset="utf-8")
        title NESCoffee - NES emulator
        +stylesheets([ "bootstrap", "app" ])
        +scripts([ "jquery", "angular", "angular-ui-router", "ui-bootstrap-tpls", "screenfull", "md5", "nescoffee", "app" ])
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(ui-sref="emulator")
                        img.logo(src="images/logo.png")
                        | NESCoffee
                ul.nav.navbar-nav.navbar-left
                    li(ui-sref-active="active"): a(ui-sref="emulator") Emulator
                    li(ui-sref-active="active"): a(ui-sref="library") Game Library
                    li(ui-sref-active="active"): a(ui-sref="config") Configuration
                div(ui-view="header")
                ul.nav.navbar-nav.navbar-right
                    li(ui-sref-active="active"): a(ui-sref="about") About
        div(ui-view="content")
