body {
    font-family: Arial;
}

label {
    font-weight: bold;
    margin-right: 8px;
}

#video-output {
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#video-scale, #fps-value {
    margin-right: 15px;
}

#record-dialog, .record-dialog .ui-dialog-titlebar {
    display: none;
}

#rom-file-input {
    display: none;
}

.zapper-area {
    cursor: crosshair;
}

.hidden {
    display: none !important;
}

.section {
    display: table;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.sub-section {
    display: table-cell;
    padding: 0px 10px 0px 10px;
}

.binding {
    display: table;
}

.binding-item {
    display: table-row;
}

.binding-item > * {
    display: table-cell;
    padding: 0px 5px 0px 5px;
}
