h1
    margin-bottom 32px

.slider
    .slider-selection
        background #3a94a5
        opacity 0.8
    .slider-handle
        background #3a94a5
        opacity 1

.slider-disabled
    .slider-selection
        background gray
