.panel-title
    cursor pointer
    a
        display block
        padding 10px 15px
        margin -10px -15px

.select-input-device
    text-align center
    margin-bottom 24px
    label
        margin-right 16px

.btn-restore-controls
    margin-bottom 8px
    margin-top 16px

.modal-bind-control .modal-dialog
    position absolute
    top 50%
    left 50%
    width 320px
    height 80px
    margin-top -40px
    margin-left -160px
    .modal-content
        text-align center
        font-weight bold
        padding 24px
