#library
    margin-top 16px
    overflow-y auto
    height 500px
    tr
        cursor pointer
        &:first-child td
            border-top none

#play-button
    width 100%

.loading-indicator img
    margin-right 8px
