.navbar-brand
    padding-top 8px
    img.logo
        margin-top -6px
        width 42px
        height 42px
        margin-right 16px

.nav.navbar-nav a .glyphicon
    font-size 11pt
    margin-right 8px
