#toolbar
    margin-left 24px
    margin-right 16px
    .volume-control
        text-align center
        width 40px
        min-width 0
        input
            display block
            margin 8px auto 4px
            width 18px
            height 18px
        .slider
            margin 16px auto
