.container
    .row
        .about-column.col-xs-6
            img.img-responsive(class="logo" src="images/logo-lg.png" alt="CFxNES logo")
        .about-column.col-xs-6
            h1
                | CFxNES (0.0.1)
            p
                | A Nintendo Entertainment System emulator written in ECMAScript 6.
            p
                | CFxNES is in early development, so many of the NES games are not playable yet.
                |  For best berformance, at least 2 GHz CPU and the #[strong latest Google Chrome]
                |  or #[strong Firefox] are recommended.
            p
                | The source code is available at #[a(href="https://github.com/jpikl/cfxnes") github]
                |  and licensed under the MIT License.
            p
                | Copyright © 2014-2015 Jan Pikl
            a(ng-hide="changelogVisible" href="" ng-click="showChangelog()") Show change log
            div(ng-show="changelogVisible")
                h2 Change log
                h3 0.0.1 - 2015-04-26
                ul
                    li Complete rewrite from CoffeeScript to ECMAScript 6.

