alert#emulator-error(ng-show="error" type="danger" close="clearError()") {{ error }}

mixin input-mapping(device, input, inputName)
    tr
        td #{inputName}
        td {{ getMappedInputName('#{device}', '#{input}')  }}

alert#controls-info(ng-show="controlsInfoVisible" type="info" close="hideControlsInfo()")
    h3 Controls
        small
            |  (
            a.alert-link(ng-href="{{ changeControlsUrl }}")
                span.fa.fa-wrench
                |  configure
            | )
    table
        +input-mapping("joypad", "a",      "A")
        +input-mapping("joypad", "b",      "B")
        +input-mapping("joypad", "start",  "Start")
        +input-mapping("joypad", "select", "Select")
        +input-mapping("joypad", "left",   "Left")
        +input-mapping("joypad", "right",  "Right")
        +input-mapping("joypad", "up",     "Up")
        +input-mapping("joypad", "down",   "Down")
        +input-mapping("zapper", "trigger", "Zapper")

#emulator-loader.loader(ng-show="loading")
    img(src="images/loading-dark.gif")
    | Loading...
canvas#video-output(video-output="emulator" on-file-drop="loadCartridge(file)")
    | Your browser does not support canvas element.
