.library
    .library-section
        div
            h1 Game Library
    .library-section(ng-show="loading")
        div
            .loader Loading...
    .library-section(ng-show="error")
        div
            alert(type="danger") {{ error }}
    .library-section(ng-show="empty")
        div
            alert(type="info") There are no games available.
    .library-section(ng-hide="loading || error || empty")
        div
            input.form-control(type="search" placeholder="Search games" ng-model="gameFilter.name" focus-when="!loading")
    .library-section(ng-hide="loading || error || empty")
        .game-list
            a.game(ng-repeat="game in games | filter:gameFilter" ng-click="playGame(game)")
                .icon.icon-play
                img(src="images/cartridge.png" lazy-src="{{game.thumbnailURL}}")
                | {{ game.name }}
