#toolbar.nav.navbar-nav.navbar-left
    .btn-group
        open-file-button.btn.btn-default.navbar-btn(tooltip="Open ROM" on-file-load="loadCartridge(file)"): .fa.fa-folder-open
    = ' '
    .btn-group(ng-hide="isRunning()")
        button.btn.btn-default.navbar-btn(tooltip="Hard reset" ng-click="hardReset()"): .fa.fa-power-off
        button.btn.btn-default.navbar-btn(tooltip="Soft reset" ng-click="softReset()"): .fa.fa-repeat
        button.btn.btn-default.navbar-btn(tooltip="Run" ng-click="start()"): .fa.fa-play
    .btn-group(ng-show="isRunning()")
        button.btn.btn-default.navbar-btn(tooltip="Hard reset" ng-click="hardReset()"): .fa.fa-power-off
        button.btn.btn-default.navbar-btn(tooltip="Soft reset" ng-click="softReset()"): .fa.fa-repeat
        button.btn.btn-default.navbar-btn(tooltip="Pause" ng-click="stop()"): .fa.fa-pause
    = ' '
    .btn-group
        button.btn.btn-default.navbar-btn(tooltip="Decrease scale" ng-click="decreaseSize()" ng-class="{ disabled: isMinSize() }"): .fa.fa-search-minus
        button.btn.btn-default.navbar-btn(tooltip="Increase scale" ng-click="increaseSize()" ng-class="{ disabled: isMaxSize() }"): .fa.fa-search-plus
        button.btn.btn-default.navbar-btn(tooltip="Fullscreen" ng-click="enterFullScreen()"): .fa.fa-arrows-alt
    = ' '
    .btn-group.dropdown(dropdown ng-show="audioSupported")
        button.dropdown-toggle.btn.btn-default.navbar-btn(dropdown-toggle tooltip="Volume"): volume-icon(ng-model="audioVolume")
        .dropdown-menu.volume-control(ng-click="preventClose($event)")
            input(type="checkbox" ng-model="audioEnabled" tooltip="Enable audio" tooltip-placement="right")
            slider(id="audio-volume" ng-model="audioVolume" ng-disabled="!audioEnabled" min="0" max="1" step="0.01" orientation="vertical" reversed="true" selection="after" formater="percentageFormater")
span.navbar-text(ng-show="isRunning()") FPS: {{ getFPS() }}
