.toolbar.nav.navbar-nav.navbar-left
    .btn-group
        open-file-button.btn.btn-default.navbar-btn(tooltip="Open ROM" on-file-load="loadCartridge(file)"): .icon.icon-folder-open
    = ' '
    //- default tooltip-append-to-body causes strange tooltip behaviour in chrome when toogling btn-group visibility.
    .btn-group(ng-hide="isRunning()")
        button.btn.btn-default.navbar-btn(tooltip="Hard reset" ng-click="hardReset()"): .icon.icon-power-off
        button.btn.btn-default.navbar-btn(tooltip="Soft reset" ng-click="softReset()"): .icon.icon-repeat
        button.btn.btn-default.navbar-btn(tooltip="Run" tooltip-append-to-body="false" ng-click="start()"): .icon.icon-play
    .btn-group(ng-show="isRunning()")
        button.btn.btn-default.navbar-btn(tooltip="Hard reset" ng-click="hardReset()"): .icon.icon-power-off
        button.btn.btn-default.navbar-btn(tooltip="Soft reset" ng-click="softReset()"): .icon.icon-repeat
        button.btn.btn-default.navbar-btn(tooltip="Pause" tooltip-append-to-body="false" ng-click="stop()"): .icon.icon-pause
    = ' '
    .btn-group
        button.btn.btn-default.navbar-btn(tooltip="Decrease scale" ng-click="decreaseSize()" ng-class="{ disabled: isMinSize() }"): .icon.icon-search-minus
        button.btn.btn-default.navbar-btn(tooltip="Increase scale" ng-click="increaseSize()" ng-class="{ disabled: isMaxSize() }"): .icon.icon-search-plus
        button.btn.btn-default.navbar-btn(tooltip="Fullscreen" ng-click="enterFullScreen()"): .icon.icon-arrows-alt
    = ' '
    .btn-group.dropdown(dropdown ng-show="audioSupported")
        button.dropdown-toggle.btn.btn-default.navbar-btn(dropdown-toggle tooltip="Volume"): volume-icon(ng-model="audioVolume")
        .dropdown-menu.volume-control(ng-click="preventClose($event)")
            input(type="checkbox" ng-model="audioEnabled" tooltip="Enable audio" tooltip-placement="right")
            slider(id="audio-volume" ng-model="audioVolume" ng-disabled="!audioEnabled" min="0" max="1" step="0.01" orientation="vertical" reversed="true" selection="after" formater="percentageFormater")
span.navbar-text(ng-show="fpsVisible && isRunning()") FPS: {{ getFPS() }}
