$fa-css-prefix = icon

@import "bootstrap"
@import "font-awesome"

@import "styles/common"
@import "styles/navbar"
@import "styles/emulator"
@import "styles/toolbar"
@import "styles/library"
@import "styles/settings"
@import "styles/about"

@import "directives/volume-icon"
