mixin stylesheet(name, hasMinVersion)
    -file = name + ((environment == "production" && hasMinVersion) ? ".min.css" : ".css")
    link(rel="stylesheet", type="text/css", href="styles/#{file}")

mixin script(name, hasMinVersion)
    -file = name + ((environment == "production" && hasMinVersion) ? ".min.js" : ".js")
    script(type="text/javascript", src="scripts/#{file}")

doctype html
html(ng-app="cfxnes")
    head
        meta(charset="utf-8")
        title CFxNES - NES emulator
        +stylesheet("bootstrap", true)
        +stylesheet("bootstrap-slider", true)
        +stylesheet("app", true)
        +script("jquery", true)
        +script("bootstrap-slider", true)
        +script("angular", true)
        +script("angular-ui-router", true)
        +script("ui-bootstrap-tpls", true)
        +script("slider", false)
        +script("screenfull", false)
        +script("md5", true)
        +script("cfxnes", true)
        +script("app", true)
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(ui-sref="emulator")
                        img.logo(src="images/logo-sm.png")
                        | CFxNES
                ul.nav.navbar-nav.navbar-left
                    li(ui-sref-active="active")
                        a(ui-sref="emulator")
                            span.glyphicon.glyphicon-th
                            | Emulator
                    li(ui-sref-active="active")
                        a(ui-sref="library")
                            span.glyphicon.glyphicon-book
                            | Game Library
                    li(ui-sref-active="active")
                        a(ui-sref="config")
                            span.glyphicon.glyphicon-wrench
                            | Configuration
                div(ui-view="header")
                ul.nav.navbar-nav.navbar-right
                    li(ui-sref-active="active")
                        a(ui-sref="about")
                            span.glyphicon.glyphicon-question-sign
                            | About
        div(ui-view="content")
    script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-58947010-1', 'auto');
        ga('send', 'pageview');
