.emulator {
  display: table;
  height: 100%;
  width: 100%;
  > * {
    display: table-row;
  }
  .emulator-error {
    .alert {
      margin-left: 15px;
      margin-right: 15px;
      @media (min-width: @screen-sm-min) {
        width: 50%;
        min-width: @screen-sm-min - 20px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .emulator-controls {
    position: relative;
    .alert {
      margin-left: 15px;
      margin-right: 15px;
      @media (min-width: @screen-sm-min) {
        position: absolute;
        width: 300px;
        z-index: 1;
      }
      h3 {
        margin-top: 0;
        white-space: nowrap;
      }
      td {
        padding: 2px 2px 2px 30px;
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
  .emulator-main {
    height: 100%;
    .emulator-output {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .canvas-wrapper {
        position: relative;
         canvas {
          border: 1px solid black;
        }
        .loader, .drag-effect {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .drag-effect {
      width: 150px;
      height: auto;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }
    &.drag-over .drag-effect {
      opacity: 1;
    }
  }
  #input-file {
    display: none;
  }
}
