mixin stylesheets(files)
    each file in files
        link(rel="stylesheet", type="text/css", href="styles/#{file}.css")

mixin scripts(files)
    each file in files
        script(type="text/javascript", src="scripts/#{file}.js")

doctype html
html(ng-app="nescoffee")
    head
        meta(charset="utf-8")
        title NESCoffee - NES emulator
        if devEnvironment
            +stylesheets([ "bootstrap", "main" ])
            +scripts([ "jquery", "angular", "bootstrap", "screenfull", "md5", "nescoffee" ])
        else
            +stylesheets([ "bootstrap.min", "main" ])
            +scripts([ "jquery.min", "angular.min", "bootstrap.min", "screenfull.min", "md5.min", "nescoffee.min" ])
    body
        block body
