<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Javascript NES emulator and emulation library.">
  <meta name="keywords" content="NES,Nintendo,emulator,JavaScript">
  <meta name="theme-color" content="#272822">
  <meta property="og:image" content="/og-image.jpg">
  <meta property="og:image:width" content="279">
  <meta property="og:image:height" content="279">
  <meta property="og:description" content="Javascript NES emulator and emulation library.">
  <meta property="og:title" content="cfxnes">
  <meta property="og:url" content="https://cfxnes.herokuapp.com">
  <title>cfxnes - NES emulator</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#29334c">
{{#if production}}
  <link rel="stylesheet" href="/bundle.css">
{{/if}}
  <base href="/">
</head>
<body>
  <div id="root"></div>
  <noscript>
    <p>To use cfxnes, please enable JavaScript.</p>
  </noscript>
  <script src="/bundle.js"></script>
</body>
</html>
