.container
    .row
        .about-column.col-xs-6
            img.img-responsive(class="logo" src="images/logo.png" alt="NESCoffee logo")
        .about-column.col-xs-6
            h1
                | NESCoffee
            p
                | A Nintendo Entertainment System emulator written in CoffeeScript.
            p
                | NESCoffee is in early development, so most of the NES games are not playable yet.
                |  For best berformance, at least 1.7 GHz CPU and the #[strong latest Google Chrome] are recommended.
            p
                | The source code is available at #[a(href="https://bitbucket.org/jpikl/nescoffee") bitbucket].
