h1
    margin-bottom 32px

.slider
    .slider-selection
        background #3a94a5
        opacity 0.8
    .slider-handle
        background #3a94a5
        opacity 1

.slider-disabled
    .slider-selection
        background gray

.loader
    &:before
        content url("../images/loading-light.gif")
        padding-right 12px
        vertical-align -50%

.loader.inverse:before
    content url("../images/loading-dark.gif")

.icon-stack-item
    @extends .icon-stack-1x
