screen-center()
    position absolute
    top 0px
    bottom 0px
    left 0px
    right 0px
    margin auto

#emulator-error
    position absolute
    left 25%
    width 50%

#emulator-loader
    screen-center()
    width 160px
    height 64px
    padding 16px
    background black
    color white

#video-output
    screen-center()
    border 1px solid black
    z-index -10

#controls-info
    position absolute
    left 50px
    width 300px
    .glyphicon
        font-size 10pt
    td
        padding 10px 10px 10px 30px
        &:first-child
            font-weight bold

:fullscreen
    width 100%
    height 100%

:-webkit-full-screen
    width 100%
    height 100%

:-moz-full-screen
    width 100%
    height 100%

:-ms-full-screen
    width 100%
    height 100%
