$thumbnail-width = 128px
$thumbnail-height = 114px

#library
    margin-top 24px
    outline none
    .library-item
        display inline-block
        position relative
        width $thumbnail-width
        vertical-align top
        text-align center
        text-decoration none
        cursor pointer
        xcolor inherit
        margin 7px
        .fa
            display none
            width $thumbnail-width
            line-height $thumbnail-height
            text-align center
            position absolute
            opacity 1
        img
            height $thumbnail-height
            margin 0 auto 6px
            display block
        &:not(:hover)
            color inherit
        &:hover
            opacity 0.8
            .fa
                display block
