.navbar-brand
    padding-top 8px
    img.logo
        display inline
        margin-top -6px
        width 42px
        height 42px
        margin-right 10px

.nav.navbar-nav a .fa
    margin-right 8px
