{
  "extends": "../.eslintrc",
  "env": {
    "browser": true
  },
  "plugins": [
    "riot"
  ],
  "globals": {
    "$": true,
    "app": true,
    "cfxnes": true,
    "eachTag": true,
    "formatError": true,
    "logError": true,
    "opts": true,
    "riot": true
  },
  "rules": {
    "no-invalid-this": "off"
  }
}
