:root {
  --dark-anchor-color-hover: #ffd700;
  --dark-anchor-color: #ffe75f;
  --dark-app-color: #f8f8f8;
  --dark-button-background-active: #222;
  --dark-button-background-disabled: #555;
  --dark-button-background-hover: #34362e;
  --dark-button-background: #414339;
  --dark-button-border-color-active: #999;
  --dark-button-border-color-disabled: #777;
  --dark-button-border-color-hover: #898a89;
  --dark-button-border-color: #5e5e5e;
  --dark-button-color-disabled: #aaa;
  --dark-button-color: #f8f8f8;
  --dark-button-primary-background-active: #ccad00;
  --dark-button-primary-background-disabled: #605200;
  --dark-button-primary-background-hover: #ffd700;
  --dark-button-primary-background: #ffe75f;
  --dark-button-primary-border-color-active: #998200;
  --dark-button-primary-border-color-disabled: #4d4100;
  --dark-button-primary-border-color-hover: #b39800;
  --dark-button-primary-border-color: #ccad00;
  --dark-button-primary-color-disabled: #aaa;
  --dark-button-primary-color: #34362e;
  --dark-canvas-border-color: #414339;
  --dark-checkbox-background-checked: #ffd700;
  --dark-checkbox-background: #ddd;
  --dark-checkbox-border-color-checked: #c9a900;
  --dark-checkbox-border-color: #aaa;
  --dark-checkbox-color-checked: #414339;
  --dark-focus-color: #ffd700;
  --dark-header-background-active: #414339;
  --dark-header-background: #272822;
  --dark-header-color-active: #f8f8f8;
  --dark-header-color: #b7b8b7;
  --dark-input-background: #414339;
  --dark-input-border-color: #5e5e5e;
  --dark-input-disabled-background: #272822;
  --dark-input-disabled-color: #898a89;
  --dark-input-placeholder-color: #898a89;
  --dark-input-shadow-color: color(#ddd a(7.5%));
  --dark-logo-color: #6680be;
  --dark-logo-filter: brightness(250%);
  --dark-main-background: #1e1f1c;
  --dark-message-error-anchor-color: #f8edef;
  --dark-message-error-background: #843534;
  --dark-message-error-border-color: #a94442;
  --dark-message-error-color: #ebccd1;
  --dark-message-info-anchor-color: #d9edf7;
  --dark-message-info-background: #245269;
  --dark-message-info-border-color: #487185;
  --dark-message-info-color: #b5cedb;
  --dark-meter-line-color: #888;
  --dark-modal-background: #272822;
  --dark-modal-border-color: #414339;
  --dark-modal-header-title-color: #ffe75f;
  --dark-panel-background: #1e1f1c;
  --dark-panel-border-color: #555;
  --dark-panel-header-background: #414339;
  --dark-popup-background: #272822;
  --dark-popup-border-color: color(#898a89 a(15%));
  --dark-shadow-color: color(#666 a(25%));
  --dark-slider-thumb-background-disabled: #aaa;
  --dark-slider-thumb-background: #ffd700;
  --dark-slider-track-background-disabled: #e8e8e8;
  --dark-slider-track-background: #ddd;
  --dark-switch-background-off: #aaa;
  --dark-switch-background-on: #ffd700;
  --dark-switch-icon-color-off: #6f6f6f;
  --dark-switch-icon-color-on: #414339;
  --dark-switch-thumb-background: #414339;
  --dark-tooltip-background: #e3e4e3;
  --dark-tooltip-color: #000;
}
