:root {
  --light-anchor-color-hover: #23527c;
  --light-anchor-color: #337ab7;
  --light-app-color: #333;
  --light-button-background-active: #ccc;
  --light-button-background-disabled: #fcfcfc;
  --light-button-background-hover: #e6e6e6;
  --light-button-background: #fff;
  --light-button-border-color-active: #888;
  --light-button-border-color-disabled: #ddd;
  --light-button-border-color-hover: #adadad;
  --light-button-border-color: #ccc;
  --light-button-color-disabled: #aaa;
  --light-button-color: #333;
  --light-button-primary-background-active: #23527c;
  --light-button-primary-background-disabled: #ebf3f9;
  --light-button-primary-background-hover: #2b669a;
  --light-button-primary-background: #337ab7;
  --light-button-primary-border-color-active: #1c4263;
  --light-button-primary-border-color-disabled: #d7e6f4;
  --light-button-primary-border-color-hover: #23527c;
  --light-button-primary-border-color: #296293;
  --light-button-primary-color-disabled: #aaa;
  --light-button-primary-color: #fff;
  --light-canvas-border-color: #000;
  --light-checkbox-background-checked: #5294e2;
  --light-checkbox-background: #f8f8f8;
  --light-checkbox-border-color-checked: #4984c9;
  --light-checkbox-border-color: #aaa;
  --light-checkbox-color-checked: #fff;
  --light-focus-color: #004fff;
  --light-header-background-active: #e7e7e7;
  --light-header-background: #f8f8f8;
  --light-header-color-active: #444;
  --light-header-color: #666;
  --light-input-background: #fff;
  --light-input-border-color: #ccc;
  --light-input-disabled-background: #eee;
  --light-input-disabled-color: #aaa;
  --light-input-placeholder-color: #aaa;
  --light-input-shadow-color: color(#000 a(7.5%));
  --light-logo-color: #29334c;
  --light-logo-filter: none;
  --light-main-background: #fff;
  --light-message-error-anchor-color: #843534;
  --light-message-error-background: #f2dede;
  --light-message-error-border-color: #ebccd1;
  --light-message-error-color: #a94442;
  --light-message-info-anchor-color: #245269;
  --light-message-info-background: #d9edf7;
  --light-message-info-border-color: #bce8f1;
  --light-message-info-color: #31708f;
  --light-meter-line-color: #777;
  --light-modal-background: #fff;
  --light-modal-border-color: #777;
  --light-modal-header-title-color: #23527c;
  --light-panel-background: #fff;
  --light-panel-border-color: #ddd;
  --light-panel-header-background: #f5f5f5;
  --light-popup-background: #fff;
  --light-popup-border-color: color(#000 a(15%));
  --light-shadow-color: color(#000 a(17.5%));
  --light-slider-thumb-background-disabled: #aaa;
  --light-slider-thumb-background: #5294e2;
  --light-slider-track-background-disabled: #e8e8e8;
  --light-slider-track-background: #ddd;
  --light-switch-background-off: #cfd6e6;
  --light-switch-background-on: #5294e2;
  --light-switch-icon-color-off: #888;
  --light-switch-icon-color-on: #fff;
  --light-switch-thumb-background: #fff;
  --light-tooltip-background: #333;
  --light-tooltip-color: #fff;
}
