.field {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & + .field {
    margin-top: 1rem;
  }
}

.field-label {
  max-width: 100%;
  margin: 0 0 0.5rem;
  font-weight: bold;
}
