.container
    .row
        .about-column.col-xs-6
            img.img-responsive(class="logo" src="images/logo-lg.png" alt="CFxNES logo")
        .about-column.col-xs-6
            h1
                | CFxNES
            p
                | A Nintendo Entertainment System emulator written in CoffeeScript.
            p
                | CFxNES is in early development, so many of the NES games are not playable yet.
                |  For best berformance, at least 2 GHz CPU and the #[strong latest Google Chrome] are recommended.
            p
                | The source code is available at #[a(href="https://github.com/jpikl/cfxnes") github]
                |  and licensed under the MIT License.
            p
                | Copyright © 2014-2015 Jan Pikl
