alert#emulator-error(ng-show="error" type="danger" close="clearError()") {{ error }}

mixin input-mapping(device, input, inputName)
    tr
        td #{inputName}
        td {{ getMappedInputName('#{device}', '#{input}')  }}

alert#controls-info(ng-show="controlsVisible" type="info" close="hideControls()")
    h3 Controls
        small
            |  (
            a.alert-link(ng-href="{{ changeControlsUrl }}")
                span.glyphicon.glyphicon-wrench
                |  configure
            | )
    table
        +input-mapping("joypad", "a",      "A")
        +input-mapping("joypad", "b",      "B")
        +input-mapping("joypad", "start",  "Start")
        +input-mapping("joypad", "select", "Select")
        +input-mapping("joypad", "left",   "Left")
        +input-mapping("joypad", "right",  "Right")
        +input-mapping("joypad", "up",     "Up")
        +input-mapping("joypad", "down",   "Down")
        +input-mapping("zapper", "trigger", "Zapper")

canvas#video-output(on-create="setVideoOutput(element)" on-file-drop="loadCartridge(file)")
    | Your browser does not support canvas element.
