alert#emulator-error(ng-show="error" type="danger" close="clearError()") {{ error }}

mixin input-mapping(inputName, device, input)
    tr
        td #{inputName}
        td {{ getMappedInputName('#{device}', '#{input}')  }}

alert#controls-info(ng-show="controlsVisible" type="info" close="hideControls()")
    h3 Controls
        small
            |  (
            a.alert-link(ng-href="{{ changeControlsUrl }}")
                span.glyphicon.glyphicon-wrench
                |  configure
            | )
    table
        +input-mapping("A",      "joypad", "a")
        +input-mapping("B",      "joypad", "b")
        +input-mapping("Start",  "joypad", "start")
        +input-mapping("Select", "joypad", "select")
        +input-mapping("Left",   "joypad", "left")
        +input-mapping("Right",  "joypad", "right")
        +input-mapping("Up",     "joypad", "up")
        +input-mapping("Down",   "joypad", "down")
        +input-mapping("Zapper", "zapper", "trigger")

canvas#video-output(on-create="setVideoOutput(element)" on-file-drop="loadCartridge(file)")
    | Your browser does not support canvas element.
