alert#emulator-error(ng-show="error" type="danger" close="clearError()") {{ error }}

mixin button-info(label, device, button)
    tr
        td #{label}
        td {{ getControl('#{device}', '#{button}')  }}

alert#controls-info(ng-show="controlsVisible" type="info" close="hideControls()")
    h3 Controls
        small
            |  (
            a.alert-link(ng-href="{{ changeControlsUrl }}")
                span.glyphicon.glyphicon-wrench
                |  configure
            | )
    table
        +button-info("A",      "joypad", "a")
        +button-info("B",      "joypad", "b")
        +button-info("Start",  "joypad", "start")
        +button-info("Select", "joypad", "select")
        +button-info("Left",   "joypad", "left")
        +button-info("Right",  "joypad", "right")
        +button-info("Up",     "joypad", "up")
        +button-info("Down",   "joypad", "down")
        +button-info("Zapper", "zapper", "trigger")

canvas#video-output(on-create="setVideoOutput(element)" on-file-drop="loadCartridge(file)")
    | Your browser does not support canvas element.
