#toolbar.nav.navbar-nav.navbar-left
    .btn-group
        open-file-button.btn.btn-default.navbar-btn(tooltip="Upload ROM" on-file-load="loadCartridge(file)"): .glyphicon.glyphicon-open
    .btn-group(ng-hide="isRunning()")
        button.btn.btn-default.navbar-btn(tooltip="Hard reset" ng-click="hardReset()"): .glyphicon.glyphicon-off
        button.btn.btn-default.navbar-btn(tooltip="Soft reset" ng-click="softReset()"): .glyphicon.glyphicon-repeat
        button.btn.btn-default.navbar-btn(tooltip="Run" ng-click="start()"): .glyphicon.glyphicon-play
    .btn-group(ng-show="isRunning()")
        button.btn.btn-default.navbar-btn(tooltip="Hard reset" ng-click="hardReset()"): .glyphicon.glyphicon-off
        button.btn.btn-default.navbar-btn(tooltip="Soft reset" ng-click="softReset()"): .glyphicon.glyphicon-repeat
        button.btn.btn-default.navbar-btn(tooltip="Pause" ng-click="stop()"): .glyphicon.glyphicon-pause
    .btn-group
        button.btn.btn-default.navbar-btn(tooltip="Decrease size" ng-click="decreaseSize()" ng-class="{ disabled: isMinSize() }"): .glyphicon.glyphicon-zoom-out
        button.btn.btn-default.navbar-btn(tooltip="Increase size" ng-click="increaseSize()" ng-class="{ disabled: isMaxSize() }"): .glyphicon.glyphicon-zoom-in
        button.btn.btn-default.navbar-btn(tooltip="Fullscreen" ng-click="enterFullScreen()"): .glyphicon.glyphicon-fullscreen
span.navbar-text(ng-show="isRunning()") FPS: {{ getFPS() }}
