mixin navbar
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toogle(data-toggle="collapse", data-target="#navbar-content")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#")
                    img.logo(src="images/logo.png")
                    | NESCoffee
            #navbar-content.collapse.navbar-collapse
                block
