{
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "no-invalid-this": "off",
    "no-sparse-arrays": "off",
    "no-unused-expressions": "off"
  },
  "globals": {
    "expect": true
  }
}
